# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
  # Precommit hooks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
      - id: no-commit-to-branch
      - id: check-merge-conflict
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
      - id: debug-statements
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-toml
      # TODO: rehabilitated this hook
      # - id: check-added-large-files
      - id: check-shebang-scripts-are-executable
  # Formater
  - repo: https://github.com/pycqa/isort
    rev: 5.12.0
    hooks:
      - id: isort
        name: isort (python)
  - repo: https://github.com/ambv/black
    rev: 23.7.0
    hooks:
      - id: black
        language_version: python3.10
        args: [--target-version, py310]
  # Linter
  - repo: local
    hooks:
      - id: mypy_linter
        name: mypy_linter
        entry: mypy -p printlinter --config-file pyproject.toml
        language: system
        pass_filenames: false
  - repo: local
    hooks:
      - id: mypy_cli
        name: mypy_cli
        entry: mypy -p cli_app --config-file pyproject.toml
        language: system
        pass_filenames: false
  - repo: local
    hooks:
      - id: ruff
        name: ruff
        entry: ruff printlinter cli_app
        language: system
        pass_filenames: false
  - repo: https://github.com/DavidAnson/markdownlint-cli2
    rev: v0.8.1
    hooks:
      - id: markdownlint-cli2
        args: ["**/*.md", "#node_modules"]
  # Tests
  - repo: local
    hooks:
      - id: doctest_md
        name: doctest in md
        entry: python3 -m doctest -o ELLIPSIS -o NORMALIZE_WHITESPACE
        language: system
        types: [markdown]
        pass_filenames: true
  - repo: local
    hooks:
      - id: alltest
        name: pytest and xdoctest
        entry: pytest
        language: system
        types: [python]
        pass_filenames: false
